.badge_section{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 350px;
    gap: 20px;
}

.badge_section img{
    width: 90px;
    height: 90px;
    cursor: pointer;
}
.Badges{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Total_answer{
    display: flex;
height: 200px;
width: 350px;
gap: 20px;
}
.image-container img{

    width: 170px;
    height: 150px;
    cursor: pointer;

}

.user-data-container{
    display: flex;
    flex-direction: row;
    
}
.user-data{
    width: 30%;
}
.user-location-container{
    
  text-align: center;
  height: 600px;
    width: 660px;
    overflow-y: hidden;
    z-index: 0;


 
}